.navbar {
  background-color: #ededed;
  padding: 8px;
}
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.logo {
  width: 40px;
  height: auto;
}
.navbarTitle {
  color: #777777;
  font-size: 30px;
  font-weight: bold;
}
